body {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #1a1a1a;
}

h1, h2 {
	margin: 0;
	font-family: "Righteous";
	color: #3bd679;
}

.intro {
    background-color: #3bd679;;
}


main {
    background-image: url("/assets/images/nasa-unsplash.jpg");
	background-size: cover;
	height: 500px;
}
#map {
	height: 500px;
	width: 100%;

}

table {
    font-size: 12px;
}

/*hotel results*/
#listing { 
    height: 500px;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}
      
#findhotels {
    font-size: 14px;
    padding: 4px;
    background-color: #fff;
}

#locationField {
    height: 25px;
    background-color: #fff;
}
      
#controls {
    background-color: #fff;
}
      
#autocomplete {
    width: 100%;
}
      
#country {
        width: 100%;
}
      
.placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
}
      
.hotelIcon {
        width: 24px;
        height: 24px;
}
      
#resultsTable {
        border-collapse: collapse;
        width: 100%;
}

#rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
 }
 
.iw_table_row {
        height: 18px;
 }
      
.iw_attribute_name {
        font-weight: bold;
        text-align: right;
 }
 
.iw_table_icon {
        text-align: right;
 }
 
 .btn {
     width: 100%;
     font-family: "Righteous";
 }