body {

	/*background-color: #FFD300;*/
	background-color: #fafafa;
	
}

h1, h2 {
	margin: 0;
	font-family: "Righteous";
	color: #fafafa;
}

.intro {
    /*background-color: #3bd679;*/
    /*background-color: #00ff80;*/
    font-size: 50px;
    padding: 70px;

}

.btn-lg {
    font-size: 75px;
}



#map {
	height: 500px;
	width: 100%;
}

table {
    font-size: 12px;
}

/*hotel results*/
#listing { 
    height: 500px;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
    background-color: gray;
}
      
#findhotels {
    font-size: 14px;
    padding: 4px;
    background-color: #fff;
}

#locationField {
    height: 25px;
    background-color: #fff;
    font-size: 40px;
}
      
#controls {
    background-color: #fff;
    font-size: 40px;
}
      
#autocomplete {
    width: 100%;
}
      
#country {
        width: 100%;
}
      
.placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
}
      
.hotelIcon {
        width: 24px;
        height: 24px;
}
      
#resultsTable {
        border-collapse: collapse;
        width: 100%;
}

#rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
 }
 
.iw_table_row {
        height: 18px;
 }
      
.iw_attribute_name {
        font-weight: bold;
        text-align: right;
 }
 
.iw_table_icon {
        text-align: right;
 }
 
 .btn {
     width: 100%;
     font-family: "Righteous";
 }
 
 .row {
     padding: 10px;
 }
 
#itinerary {
     background-color: #ffffff;
     border-radius: 5px;
 }
 
.close {
  right: 0;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  color: #1a1a1a;
}

.add {
  color: green;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  right: 0;
  font-size: 40px;
}

/*cover*/

.coverContainer {
	/*background-color: #FFD300;*/
	font-family: "Righteous";
}

.number1 {
    font-size: 75px;
	left: -380px;
	width: 30%;
	background-color: #ff8000;
	color: #fafafa;
	animation: slide 0.8s linear;
	animation-fill-mode: forwards;
	margin-bottom: 5px;
	border-bottom: 5px solid white;
}

.number2 {
    font-size: 75px;
	left: -380px;
	width: 40%;
	background-color: #00bfff;
	color: #fafafa;
	animation: slide 1s linear;
	animation-fill-mode: forwards;
	margin-bottom: 5px;
	border-bottom: 5px solid white;
}

.number3 {
    font-size: 75px;
	left: -380px;
	width: 50%;
	background-color: #00ff80;
	color: #fafafa;
	margin-bottom: 5px;
	animation: slide 1.2s linear;
	animation-fill-mode: forwards;
	border-bottom: 5px solid white;
	margin-bottom: 70px;
}


@keyframes slideIn {
	from {
		width: 0;
	}

	to {
		width: 380px;
	}

}

@keyframes slide {
	from {
		transform: translate(-400px);
	}

	to {
		transform: translate(0);
	}

}



.section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.svg-container {
	animation: fadeIn 4s linear;
	animation-fill-mode: forwards;
}

.second {
	animation: fadeIn 5s linear;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


/*cube code*/

#wrapD3Cube {
    /*width: 350px;*/
    height: 313px;
    margin-top: 50px;
    /*float: right;*/
    /*background-color: #EEE;*/
    font-size: 85px;
    font-family: "Righteous";
}

#D3Cube {
    width: 112px;
    height: 112px;
    top: 50px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
}

#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 112px; /*or 162*/
    height: 112px;
    float: left;
    overflow: hidden;
    /*opacity: 0.85;*/
}

#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #FFF;
    color: #fafafa;
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*opacity: 0.85;*/
}

#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color:  #ff8000;
    color: #fafafa;
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*color: #FFD300;*/
}

#side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
    background-color: #00ff80;
    color: #fafafa;
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*color: #FFD300;*/
}

#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ed3030;
    color: #fafafa;
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*color: #FFD300;*/
}

#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #00bfff;
    color: #fafafa;
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*color: #FFD300;*/
}

#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #f2f215;
    color: #fafafa;
    
    /*background-color: #1a1a1a;*/
    /*border: 5px solid #fafafa;*/
    /*color: #FFD300;*/
}

#D3Cube {
    -webkit-animation: cubeRotation 5s infinite; /* Safari 4.0 - 8.0 */
    animation: cubeRotation 5s infinite;
}

@-webkit-keyframes cubeRotation {
    0%   {  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);  }
    100%   {    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}
@keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);  }
    100%   {    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}


/*mouse svg*/

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  /*margin: 0 47.5%;*/
  /*padding-bottom: 100px;*/
}
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0%, 20% {
  transform: translateY(0) scaleY(1);
  }

   10% {
  opacity: 1;
  }
  100% {
  transform: translateY(36px) scaleY(2);
  opacity: 0.01;
  }
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

/* mouse svg ends */

.sleeve {
    /*padding: 50px;*/
    /*margin: 20px;*/
    /*background: url(".././images/deglee-degi-unsplash.jpg") no-repeat center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    
    background-image:url(".././images/szmigiel-unsplash.jpg");
    /*background-repeat:no-repeat;*/
    /*background-size:contain;*/
    /*background-position:center;*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    
    
}

.thePlanner {
  height: calc(100vh - 1rem);
}



@media screen and (max-width: 640px){
.sleeve {
    height: calc(100vh - 1rem);
}


}

/*@media screen and (max-width: 990px){*/
/*    #D3Cube {*/
/*    display: none;*/
/*}*/
/*}*/